<a href="https://colab.research.google.com/github/kimhalyn/COLAB/blob/main/make_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import requests
import pandas as pd

In [7]:
res=requests.get('http://apis.data.go.kr/6260000/BusanWaterImrsnInfoService/getWaterImrsnInfo?serviceKey=jkd4PnVjssNP%2Bg2WeRzs8lgc4SOelLsncvuMr81%2F9R9nSYKkiQAcb2xt8GTYgTJSQGQ4%2BhtuRuyIXSwRXr210w%3D%3D&numOfRows=10&pageNo=1&resultType=json')
data=res.json()
items=data['getWaterImrsnInfo']['item']
df_items=pd.DataFrame(items)
df_items.to_csv('부산광역시 주요도로 침수 정보.csv' ,encoding='utf-8-sig')

In [8]:
df_items

     siteCode siteName alertLevel3  ...               obsrTime sttus sttusNm
0  2617065000      범일동          40  ...  2021-08-25 오전 8:05:14     0     정 상
1  2626051002      수안2          40  ...  2021-08-25 오전 8:05:00     0     정 상
2  2626053001      명륜1          40  ...  2021-08-25 오전 8:05:00     0     정 상
3  2626055001      온천1          40  ...  2021-08-25 오전 8:05:00     0     정 상
4  2626055004      온천4          40  ...  2021-08-25 오전 8:05:00     0     정 상
5  2647065005      연제5          40  ...  2021-08-25 오전 8:05:00     0     정 상
6  2629059000      용호동          40  ...  2021-08-25 오전 8:04:52     0     정 상
7  2626051001      수안1          40  ...  2021-08-25 오전 8:04:00     0     정 상
8  2626055002      온천2          40  ...  2021-08-25 오전 8:04:00     0     정 상
9  2632055001     의성마을          40  ...  2021-08-25 오전 8:04:00     0     정 상

[10 rows x 10 columns]

In [ ]:
#방법2

In [ ]:
import urllib.request
import json 
import pandas as pd 
from pandas.io.json import json_normalize

In [ ]:
# request url 정의
url = 'http://apis.data.go.kr/6260000/BusanWaterImrsnInfoService/getWaterImrsnInfo?serviceKey=jkd4PnVjssNP%2Bg2WeRzs8lgc4SOelLsncvuMr81%2F9R9nSYKkiQAcb2xt8GTYgTJSQGQ4%2BhtuRuyIXSwRXr210w%3D%3D&numOfRows=10&pageNo=1&resultType=json'

In [ ]:
# url을 불러오고 이것을 인코딩을 utf-8로 전환하여 결과 받기
response = urllib.request.urlopen(url) 
json_str = response.read().decode("utf-8")
type(json_str)

str

In [ ]:
# 받은 데이터가 문자열이라서 이를 json으로 변환
json_object = json.loads(json_str)
type(json_object)

dict

In [ ]:
# 원하는 정보 데이터프레임으로 불러오기
#df=pd.json_normalize(json_object['getWaterImrsnInfo']['item'])
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   siteCode       10 non-null     object
 1   siteName       10 non-null     object
 2   alertLevel3    10 non-null     object
 3   alertLevel3Nm  10 non-null     object
 4   alertLevel4    10 non-null     object
 5   alertLevel4Nm  10 non-null     object
 6   fludLevel      10 non-null     object
 7   obsrTime       10 non-null     object
 8   sttus          10 non-null     object
 9   sttusNm        10 non-null     object
dtypes: object(10)
memory usage: 928.0+ bytes

In [ ]:
df = pd.DataFrame(json_object['getWaterImrsnInfo']['item'])
df

     siteCode siteName alertLevel3  ...               obsrTime sttus sttusNm
0  2617065000      범일동          40  ...  2021-08-25 오전 8:05:14     0     정 상
1  2626051002      수안2          40  ...  2021-08-25 오전 8:05:00     0     정 상
2  2626053001      명륜1          40  ...  2021-08-25 오전 8:05:00     0     정 상
3  2626055001      온천1          40  ...  2021-08-25 오전 8:05:00     0     정 상
4  2626055004      온천4          40  ...  2021-08-25 오전 8:05:00     0     정 상
5  2647065005      연제5          40  ...  2021-08-25 오전 8:05:00     0     정 상
6  2629059000      용호동          40  ...  2021-08-25 오전 8:04:52     0     정 상
7  2626051001      수안1          40  ...  2021-08-25 오전 8:04:00     0     정 상
8  2626055002      온천2          40  ...  2021-08-25 오전 8:04:00     0     정 상
9  2632055001     의성마을          40  ...  2021-08-25 오전 8:04:00     0     정 상

[10 rows x 10 columns]

In [ ]:
# csv 파일로 저장하기
df.to_csv('부산광역시 주요도로 침수 정보.csv', encoding='utf-8-sig')